.title {
  background-color: #17408b;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}

.logo-container {
  padding: 10px;
}

.logo-image {
  height: 70px;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
}

.player-input-container {
  justify-content: center;
  display: flex;
}

.player-input {
  display: flex;
  width: 50%;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .player-input {
    display: flex;
    width: 75%;
    position: relative;
    align-items: center;
  }
}

.player-input-box {
  width: 100%;
  border-radius: 30px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.player-input-box:focus {
  box-shadow: 0 0 10px 100vw rgba(0, 0, 0, 0.5);
  outline: none;
}

.player-input-submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
}

.player-input-submit:hover {
  background-color: #388ae2;
}

.player-input-submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.player-list {
  display: flex;
  justify-content: center;
}

.player-preview {
  padding: 10px 16px;
  margin: 20px 0;
  width: 500px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.player-preview h2,
p {
  color: #f1356d;
  margin-bottom: 8px;
  margin-right: 50px;
  text-align: center;
}

.player-preview a {
  text-decoration: none;
}

.team-logo {
  float: left;
  width: 80px;
  height: 80px;
}

.delete-icon {
  background-color: #ff0000;
  color: white;
  height: 25px;
  padding: 4px 8px;
  border-radius: 4px;
  float: right;
  visibility: hidden;
}

.player-preview:hover .delete-icon {
  visibility: visible;
}

.single-player-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-single-player-container {
  position: relative;
  padding: 10%;
  width: 100%;
  max-width: 300px;
  background-color: white;
}

.inner-single-player-container .close-popup-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.individual-table,
th,
td {
  border: 1px solid #ff0000;
}
